body {
    margin: 0;
    display: flex;
    height: 100vh;
    background-color: #333;
}

.container {
    display: flex;
    width: 100%;
}

.controls {
    padding: 20px;
    background-color: #1a1a1a;
    color: #fff;
    width: 300px;
}

.controls input, .controls button, .controls select {
    margin-bottom: 10px;
    width: 100%;
}

#jwplayerDiv {
    flex-grow: 1;
    position: relative;
}

.jwplayer {
    position: absolute !important;
}

.jwplayer.jw-flag-aspect-mode {
    min-height: 100%;
    max-height: 100%;
}
