body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

.sidebar {
    width: 250px;
    padding: 10px;
    border-right: 1px solid #ccc;
}

.player-container {
    flex: 1;
    padding: 10px;
}

.divider {
    margin: 10px 0;
}

#channel-info {
    margin-top: 10px;
}

#channel-logo {
    max-width: 100px;
    max-height: 100px;
}
